NODE_ENV=...

BOOKING_API_SERVER_PORT=...

BOOKING_API_SENTRY_DSN=...

RESEND_API_KEY=...

CALCOM_API_KEY=...
CALCOM_BASE_URL=...

R2_BASE_URL=...

D1_ACCOUNT_ID=...
D1_DATABASE_ID=...
D1_API_TOKEN=...

ASTROLOGY_API_SERVER_DC_PORT=...
ASTROLOGY_API_SERVER_DC_DNS=...
ASTROLOGY_API_SERVER_K8S_PORT=...
ASTROLOGY_API_SERVER_K8S_DNS=...

BOOKING_API_SERVER_DC_PORT=...
BOOKING_API_SERVER_DC_DNS=...
BOOKING_API_SERVER_K8S_PORT=...
BOOKING_API_SERVER_K8S_DNS=...

PAYMENT_API_SERVER_DC_PORT=...
PAYMENT_API_SERVER_DC_DNS=...
PAYMENT_API_SERVER_K8S_PORT=...
PAYMENT_API_SERVER_K8S_DNS=...

FRONTEND_SERVER_DC_PORT=...
FRONTEND_SERVER_DC_DNS=...
FRONTEND_SERVER_K8S_PORT=...
FRONTEND_SERVER_K8S_DNS=...
