NODE_ENV=development
PORT=3033

SENTRY_DSN=...

RESEND_API_KEY=...

CALCOM_API_KEY=...
CALCOM_BASE_URL=https://api.cal.com

R2_BASE_URL=https://....r2.dev/pdfs

D1_ACCOUNT_ID=...
D1_DATABASE_ID=...
D1_API_TOKEN=...
