NODE_ENV=...

BOOKING_API_SERVER_PORT=...
BOOKING_API_SERVER_DNS=...

FRONTEND_SERVER_PORT=...
FRONTEND_SERVER_DNS=...

BOOKING_API_SENTRY_DSN=...

RESEND_API_KEY=...

CALCOM_API_KEY=...
CALCOM_BASE_URL=...

R2_BASE_URL=...

D1_ACCOUNT_ID=...
D1_DATABASE_ID=...
D1_API_TOKEN=...
